/* .week {
    display: flex;
}
.week p {
    margin: 10px 10px;
}
.list {
    font-size: 15px;
    margin: auto;
} */

.select {
    display: inline-flex;
}
.select .category{
    margin: 10px;
    margin-left: 30px;
    width: 120px;
    height: 30px;
}
.select .input{
    margin: 10px;
    margin-left: 330px;
    height: 30px;
    width: 120px;
}
.chartContainer {
    width: 60%;
}
.result {
    margin-left: 20px;
    display: inline-flex;
    width: 600px;
    justify-content: space-between;
}